.NotificationListItem {
}

.NotificationListItem-desc {
  margin-top: 4px;
  font-size: smaller;
}

.NotificationListItem-desc-item {
  display: inline-block;
  margin-right: 8px;
  white-space: nowrap;
}

.ui[class*="very relaxed"].list>.item.NotificationListItem {
  padding-top: .85714286em;
}

i.icon.NotificationListItem-comment {
  cursor: pointer;
  margin-left: 4px;
}

.ui.NotificationList {
  background: white;
}
